*.gem
*.rbc
.DS_STORE
.bundle
.config
.jhw-cache
.rvmrc
.sass-cache
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
build/
coverage
doc/
docs/
lib/assets/images/
lib/assets/index.html
lib/assets/javascripts/backbone.js
lib/assets/javascripts/bone_tree/
lib/assets/stylesheets/bone_tree_repo.css
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
