*.gem
*.rbc
.DS_STORE
.bundle
.config
.jhw-cache
.rvmrc
.sass-cache
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
build/
coverage
doc/
docs/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
